<div class="schedule-container">
  <table class="table table-bordered table-sm text-center align-middle schedule-table">
    <thead class="table-dark">
      <tr>
        <th>Hora</th>
        <th *ngFor="let day of days">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
 <tr *ngFor="let time of timeSlots">
  <td [ngClass]="{'active-row': isActive(time)}">
  <strong>{{ time }}</strong>
  <span *ngIf="isActive(time)" class="live-badge">* emitiendo ahora</span>
</td>
  <td *ngFor="let day of days" [ngClass]="{'active-row': isActive(time)}">
    <ng-container *ngIf="cartoonScheduleByDay[day][time]?.length; else noShow">
      <span [ngClass]="{'active-row-badges': isActive(time)}" class="clickable-show"
            *ngFor="let show of cartoonScheduleByDay[day][time]"
            (click)="goToShow(show)">
        {{ show }}
      </span>
    </ng-container>
    <ng-template #noShow>-</ng-template>
  </td>
</tr>

    </tbody>
  </table>
</div>
